a { color: hsl(195, 100%, 50%); }
a:visited { color: hsl(205, 100%, 50%); }
a:focus { outline: thin dotted; }
a:hover, a:active { 
   outline: 0; 
   color: hsl(215, 100%, 50%);
}

html { background-color: #000; }

body, #main { background-color: transparent; }

canvas { 
   position          : absolute;
   top               : 0;
   left              : 0;
   z-index           : -1;
}
